/* *{
    margin: 0px;
    padding: 0px;
} */

   .grid-item {
       margin: 25px 0;
   }

   @media screen and (min-width: 1024px) {
       .grid-item {
           display: flex;
           gap: 20px;
           align-items: center;
       }

       .image-column {
           flex: 1;
           order: 1;
       }

       .description-column {
           flex: 1;
           text-align: left;
           order: 2;
       }

       .grid-item:nth-child(even) .image-column {
           order: 2;
       }

       .grid-item:nth-child(even) .description-column {
           order: 1;
       }
   }

   .image-column>img {
       width: 95%;
   }

   .grid-container>h2 {
       text-align: center;
       margin-bottom: 40px;
   }